<%= javascript_include_tag :application %>
<%= javascript_include_tag :realtime %>
<div class = "main">
  <div class = "container">
    <h1>What you called QS or CG</h1>
    <p>I make Rails apps.</p>
  </div>
</div>